![logo](Data/ISJ.jpeg)

# MENTORED PROJECT of Masters II DATA Science

## Academic year 2022/2023

## Members:
- **DJEUNANG KENFACK Aude Michèle**
- **NZEUGANG NGOMSEU Romaric**

## Lecturer:
- **Dr. SIYOU Vanel**

# THEME

## Project 5 : **Predict the selling price of a house**

# MODELS NOTEBOOK

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings("ignore")

from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error

from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Ridge
from sklearn.linear_model import Lasso
from sklearn.linear_model import ElasticNet
from sklearn.ensemble import RandomForestRegressor
from sklearn.svm import SVR
from xgboost import XGBRegressor
from sklearn.preprocessing import PolynomialFeatures

In [2]:
house = pd.read_csv('Data/clean_train.csv')
# set 'Name' column as index
house.set_index('Id', inplace=True)
house

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,LotShape,LandContour,Utilities,LotConfig,LandSlope,...,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice,SalePriceSF,ConstructionAge
Id,,,,,,,,,,,,,,,,,,,,,
1,60,RL,65.0,8450,Pave,Reg,Lvl,AllPub,Inside,Gtl,...,0,0,0,2,2008,WD,Normal,208500,121.929825,5
2,20,RL,80.0,9600,Pave,Reg,Lvl,AllPub,FR2,Gtl,...,0,0,0,5,2007,WD,Normal,181500,143.819334,31
3,60,RL,68.0,11250,Pave,IR1,Lvl,AllPub,Inside,Gtl,...,0,0,0,9,2008,WD,Normal,223500,125.139978,7
4,70,RL,60.0,9550,Pave,IR1,Lvl,AllPub,Corner,Gtl,...,0,0,0,2,2006,WD,Abnorml,140000,81.537566,91
5,60,RL,84.0,14260,Pave,IR1,Lvl,AllPub,FR2,Gtl,...,0,0,0,12,2008,WD,Normal,250000,113.739763,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1456,60,RL,62.0,7917,Pave,Reg,Lvl,AllPub,Inside,Gtl,...,0,0,0,8,2007,WD,Normal,175000,106.253795,8
1457,20,RL,85.0,13175,Pave,Reg,Lvl,AllPub,Inside,Gtl,...,0,0,0,2,2010,WD,Normal,210000,101.302460,32
1458,70,RL,66.0,9042,Pave,Reg,Lvl,AllPub,Inside,Gtl,...,0,0,2500,5,2010,WD,Normal,266500,113.888889,69
1459,20,RL,68.0,9717,Pave,Reg,Lvl,AllPub,Inside,Gtl,...,0,0,0,4,2010,WD,Normal,142125,131.841373,60
1460,20,RL,75.0,9937,Pave,Reg,Lvl,AllPub,Inside,Gtl,...,0,0,0,6,2008,WD,Normal,147500,117.436306,43

In [3]:
test = pd.read_csv('Data/test.csv')
# set 'Name' column as index
test.set_index('Id', inplace=True)
test

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
Id,,,,,,,,,,,,,,,,,,,,,
1461,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,AllPub,Inside,...,120,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal
1462,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,AllPub,Corner,...,0,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal
1463,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,AllPub,Inside,...,0,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal
1464,60,RL,78.0,9978,Pave,NaN,IR1,Lvl,AllPub,Inside,...,0,0,NaN,NaN,NaN,0,6,2010,WD,Normal
1465,120,RL,43.0,5005,Pave,NaN,IR1,HLS,AllPub,Inside,...,144,0,NaN,NaN,NaN,0,1,2010,WD,Normal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2915,160,RM,21.0,1936,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,0,NaN,NaN,NaN,0,6,2006,WD,Normal
2916,160,RM,21.0,1894,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,0,NaN,NaN,NaN,0,4,2006,WD,Abnorml
2917,20,RL,160.0,20000,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,0,NaN,NaN,NaN,0,9,2006,WD,Abnorml
2918,85,RL,62.0,10441,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,0,NaN,MnPrv,Shed,700,7,2006,WD,Normal
2919,60,RL,74.0,9627,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,0,NaN,NaN,NaN,0,11,2006,WD,Normal

In [4]:
sample = pd.read_csv('Data/sample_submission.csv')
# set 'Name' column as index
sample.set_index('Id', inplace=True)
sample

          SalePrice
Id
1461  169277.052498
1462  187758.393989
1463  183583.683570
1464  179317.477511
1465  150730.079977
...             ...
2915  167081.220949
2916  164788.778231
2917  219222.423400
2918  184924.279659
2919  187741.866657

[1459 rows x 1 columns]

In [5]:
def compare_columns(df1, df2):
    missing_cols_df1 = set(df2.columns) - set(df1.columns)
    missing_cols_df2 = set(df1.columns) - set(df2.columns)
    
    if missing_cols_df1:
        print(f"The following columns are missing in train: {missing_cols_df1}")
    
    if missing_cols_df2:
        print(f"The following columns are missing in test: {missing_cols_df2}")

In [6]:
# Lets check the variables in both datasets
compare_columns(house, test)

The following columns are missing in train: {'MiscFeature', 'PoolQC', 'Alley', 'Fence'}
The following columns are missing in test: {'SalePriceSF', 'ConstructionAge', 'SalePrice'}

As we can see from the above cell, 'MiscFeature', 'Alley', 'Fence', 'PoolQC' aren't present in the test but not in train and 'SalePriceSF', 'ConstructionAge' in train but not in test so we are going to delete the missing values from both datasets

In [7]:
# drop missing variables
house.drop(['SalePriceSF', 'ConstructionAge'], axis=1, inplace=True)
test.drop(['MiscFeature', 'Alley', 'Fence', 'PoolQC'], axis=1, inplace=True)

## Missing Values for test

In [8]:
# Handling missing values for the test data
def missing_values_table(df):
        # Total missing values
        mis_val = df.isnull().sum()
        
        # Percentage of missing values
        mis_val_percent = 100 * df.isnull().sum() / len(df)
        
                
        # Coumn for dtypes
        dtype = df.dtypes
    
        # Make a table with the results
        mis_val_table = pd.concat([mis_val, mis_val_percent,dtype], axis=1)
        
        # Rename the columns
        mis_val_table_ren_columns = mis_val_table.rename(
        columns = {0 : 'Missing Values', 1 : '% of Total Values', 2:'Data Types'})
        
        # Sort the table by percentage of missing descending
        mis_val_table_ren_columns = mis_val_table_ren_columns[
            mis_val_table_ren_columns.iloc[:,1] != 0].sort_values(
        '% of Total Values', ascending=False).round(1)
        
        # Print some summary information
        print ("Your selected dataframe has " + str(df.shape[1]) + " columns.\n"      
            "There are " + str(mis_val_table_ren_columns.shape[0]) +
              " columns that have missing values.")
        # Return the dataframe with missing information
        return mis_val_table_ren_columns

tests = missing_values_table(test)
tests

Your selected dataframe has 75 columns.
There are 29 columns that have missing values.

              Missing Values  % of Total Values Data Types
FireplaceQu              730               50.0     object
LotFrontage              227               15.6    float64
GarageYrBlt               78                5.3    float64
GarageCond                78                5.3     object
GarageQual                78                5.3     object
GarageFinish              78                5.3     object
GarageType                76                5.2     object
BsmtCond                  45                3.1     object
BsmtQual                  44                3.0     object
BsmtExposure              44                3.0     object
BsmtFinType2              42                2.9     object
BsmtFinType1              42                2.9     object
MasVnrType                16                1.1     object
MasVnrArea                15                1.0    float64
MSZoning                   4                0.3     object
BsmtFullBath               2                0.1    float64
BsmtHalfBath               2                0.1    float64
Utilities                  2                0.1     object
Functional                 2                0.1     object
GarageArea                 1                0.1    float64
GarageCars                 1                0.1    float64
BsmtUnfSF                  1                0.1    float64
KitchenQual                1                0.1     object
TotalBsmtSF                1                0.1    float64
BsmtFinSF2                 1                0.1    float64
BsmtFinSF1                 1                0.1    float64
Exterior2nd                1                0.1     object
Exterior1st                1                0.1     object
SaleType                   1                0.1     object

In [9]:
# Handling Categorical variables
def freq_imp_cat(df,variable):
    frq_cat = df[variable].mode()[0]
    df[variable].fillna(frq_cat, inplace=True)

# Handling Numerical variables
def freq_imp_num(df,variable):
    frq_num = df[variable].median()
    df[variable].fillna(frq_num, inplace=True)

In [10]:
# Puting all cat variables with missing vals in a list
cat_columns = tests[tests['Data Types'] == 'object'].index.tolist()
cat_columns

for col in cat_columns:
    freq_imp_cat(test,col)

missing_values_table(test)

Your selected dataframe has 75 columns.
There are 11 columns that have missing values.

              Missing Values  % of Total Values Data Types
LotFrontage              227               15.6    float64
GarageYrBlt               78                5.3    float64
MasVnrArea                15                1.0    float64
BsmtFullBath               2                0.1    float64
BsmtHalfBath               2                0.1    float64
BsmtFinSF1                 1                0.1    float64
BsmtFinSF2                 1                0.1    float64
BsmtUnfSF                  1                0.1    float64
TotalBsmtSF                1                0.1    float64
GarageCars                 1                0.1    float64
GarageArea                 1                0.1    float64

In [11]:
# Puting all cat variables with missing vals in a list
num_columns = tests[tests['Data Types'] == 'float64'].index.tolist()
num_columns

for col in num_columns:
    freq_imp_num(test,col)

missing_values_table(test)

Your selected dataframe has 75 columns.
There are 0 columns that have missing values.

Empty DataFrame
Columns: [Missing Values, % of Total Values, Data Types]
Index: []

In [12]:
# From our data_description file we observed that the following variable types were taken as numerical meanwhile they are categorical variables
int_obj = ['YrSold','MoSold','YearBuilt','YearRemodAdd','OverallQual','OverallCond','BsmtFullBath','BsmtHalfBath','GarageYrBlt','MSSubClass']

# Change int & float to object types
for val in int_obj:
    test[val] = test[val].astype('object')
for val in int_obj:
    house[val] = house[val].astype('object')
print(test.dtypes)

MSSubClass        object
MSZoning          object
LotFrontage      float64
LotArea            int64
Street            object
                  ...
MiscVal            int64
MoSold            object
YrSold            object
SaleType          object
SaleCondition     object
Length: 75, dtype: object

In [13]:
# Get columns for categorical and numerical columns
def get_columns(df):
    cat_cols = list(df.select_dtypes(include='object'))
    num_cols = list(df.select_dtypes(include=['int64', 'float64']))
    return cat_cols, num_cols

# Initiating values for train and test
cat_cols_train, num_cols_train = get_columns(house)
cat_cols_test, num_cols_test = get_columns(test)

In [14]:
# print the values in list1 that are not in list2
print([x for x in cat_cols_train if x not in cat_cols_test])

[]

In [15]:
# Splitting dataframe in to train test samples for our models
X_train = house.drop("SalePrice", axis=1)
y_train = house["SalePrice"]
X_test = test
y_test = sample["SalePrice"]

In [16]:
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(1460, 75)
(1459, 75)
(1460,)
(1459,)

Since we have a train data and a test data, we will train our model on the train data and predict on the test data and check the prediction from the sample data

In [17]:
from sklearn.preprocessing import OrdinalEncoder

# create an ordinal encoder object
encoder = OrdinalEncoder(categories='auto')

# iterate over each categorical variable and encode it
for var in cat_cols_train:
    X_train = house[var + '_encoded'] = encoder.fit_transform(house[[var]])
    
for var in cat_cols_test:
    X_test[var + '_encoded'] = encoder.fit_transform(test[[var]])

In [18]:
X_train

array([[4.],
       [4.],
       [4.],
       ...,
       [4.],
       [4.],
       [4.]])

## One-Hot Encoding

Encoding the categorical features in X dataset by using One-Hot Encoding method

In [19]:
X_train = pd.get_dummies(X_train, columns=cat_cols_train)
X_test = pd.get_dummies(X_test, columns=cat_cols_test)

ValueError: Data must be 1-dimensional

## Standardizing the Data

Standardizing the numerical columns in X dataset. StandardScaler() adjusts the mean of the features as 0 and standard deviation of features as 1. Formula that StandardScaler() uses is as follows:

In [20]:
num_cols_train.remove("SalePrice")

scaler = StandardScaler()
X_train[num_cols_train] = scaler.fit_transform(X_train[num_cols_train])
X_test[num_cols_test] = scaler.fit_transform(X_test[num_cols_test])

IndexError: only integers, slices (`:`), ellipsis (`...`), numpy.newaxis (`None`) and integer or boolean arrays are valid indices

As you can see, standardization is done successfully

**Defining several evaluation functions for convenience**

In [19]:
def rmse_cv(model):
    rmse = np.sqrt(-cross_val_score(model, X, y, scoring="neg_mean_squared_error", cv=5)).mean()
    return rmse
    

def evaluation(y, predictions):
    mae = mean_absolute_error(y, predictions)
    mse = mean_squared_error(y, predictions)
    rmse = np.sqrt(mean_squared_error(y, predictions))
    r_squared = r2_score(y, predictions)
    return mae, mse, rmse, r_squared

## Machine Learning Models

In [20]:
models = pd.DataFrame(columns=["Model","MAE","MSE","RMSE","R2 Score","RMSE (Cross-Validation)"])

### Linear Regression

In [21]:
lin_reg = LinearRegression()
lin_reg.fit(X_train, y_train)
predictions = lin_reg.predict(X_test)

mae, mse, rmse, r_squared = evaluation(y_test, predictions)
print("MAE:", mae)
print("MSE:", mse)
print("RMSE:", rmse)
print("R2 Score:", r_squared)
print("-"*30)
rmse_cross_val = rmse_cv(lin_reg)
print("RMSE Cross-Validation:", rmse_cross_val)

new_row = {"Model": "LinearRegression","MAE": mae, "MSE": mse, "RMSE": rmse, "R2 Score": r_squared, "RMSE (Cross-Validation)": rmse_cross_val}
models = models.append(new_row, ignore_index=True)

ValueError: could not convert string to float: 'RH'

### Ridge Regression

In [ ]:
ridge = Ridge()
ridge.fit(X, y)
predictions = ridge.predict(X)

mae, mse, rmse, r_squared = evaluation(y, predictions)
print("MAE:", mae)
print("MSE:", mse)
print("RMSE:", rmse)
print("R2 Score:", r_squared)
print("-"*30)
rmse_cross_val = rmse_cv(ridge)
print("RMSE Cross-Validation:", rmse_cross_val)

new_row = {"Model": "Ridge","MAE": mae, "MSE": mse, "RMSE": rmse, "R2 Score": r_squared, "RMSE (Cross-Validation)": rmse_cross_val}
models = models.append(new_row, ignore_index=True)

### Lasso Regression

In [ ]:
lasso = Lasso()
lasso.fit(X_train, y_train)
predictions = lasso.predict(X_test)

mae, mse, rmse, r_squared = evaluation(y_test, predictions)
print("MAE:", mae)
print("MSE:", mse)
print("RMSE:", rmse)
print("R2 Score:", r_squared)
print("-"*30)
rmse_cross_val = rmse_cv(lasso)
print("RMSE Cross-Validation:", rmse_cross_val)

new_row = {"Model": "Lasso","MAE": mae, "MSE": mse, "RMSE": rmse, "R2 Score": r_squared, "RMSE (Cross-Validation)": rmse_cross_val}
models = models.append(new_row, ignore_index=True)

### Elastic Net

In [ ]:
elastic_net = ElasticNet()
elastic_net.fit(X, y)
predictions = elastic_net.predict(X)

mae, mse, rmse, r_squared = evaluation(y, predictions)
print("MAE:", mae)
print("MSE:", mse)
print("RMSE:", rmse)
print("R2 Score:", r_squared)
print("-"*30)
rmse_cross_val = rmse_cv(elastic_net)
print("RMSE Cross-Validation:", rmse_cross_val)

new_row = {"Model": "ElasticNet","MAE": mae, "MSE": mse, "RMSE": rmse, "R2 Score": r_squared, "RMSE (Cross-Validation)": rmse_cross_val}
models = models.append(new_row, ignore_index=True)

### Support Vector Machines

In [ ]:
svr = SVR(C=100000)
svr.fit(X, y)
predictions = svr.predict(X)

mae, mse, rmse, r_squared = evaluation(y, predictions)
print("MAE:", mae)
print("MSE:", mse)
print("RMSE:", rmse)
print("R2 Score:", r_squared)
print("-"*30)
rmse_cross_val = rmse_cv(svr)
print("RMSE Cross-Validation:", rmse_cross_val)

new_row = {"Model": "SVR","MAE": mae, "MSE": mse, "RMSE": rmse, "R2 Score": r_squared, "RMSE (Cross-Validation)": rmse_cross_val}
models = models.append(new_row, ignore_index=True)

### Random Forest Regressor

In [ ]:
random_forest = RandomForestRegressor(n_estimators=100)
random_forest.fit(X, y)
predictions = random_forest.predict(X)

mae, mse, rmse, r_squared = evaluation(y, predictions)
print("MAE:", mae)
print("MSE:", mse)
print("RMSE:", rmse)
print("R2 Score:", r_squared)
print("-"*30)
rmse_cross_val = rmse_cv(random_forest)
print("RMSE Cross-Validation:", rmse_cross_val)

new_row = {"Model": "RandomForestRegressor","MAE": mae, "MSE": mse, "RMSE": rmse, "R2 Score": r_squared, "RMSE (Cross-Validation)": rmse_cross_val}
models = models.append(new_row, ignore_index=True)

In [ ]:
print(random_forest.accuracy)

### XGBoost Regressor

In [ ]:
xgb = XGBRegressor(n_estimators=1000, learning_rate=0.01)
xgb.fit(X, y)
predictions = xgb.predict(X)

mae, mse, rmse, r_squared = evaluation(y, predictions)
print("MAE:", mae)
print("MSE:", mse)
print("RMSE:", rmse)
print("R2 Score:", r_squared)
print("-"*30)
rmse_cross_val = rmse_cv(xgb)
print("RMSE Cross-Validation:", rmse_cross_val)

new_row = {"Model": "XGBRegressor","MAE": mae, "MSE": mse, "RMSE": rmse, "R2 Score": r_squared, "RMSE (Cross-Validation)": rmse_cross_val}
models = models.append(new_row, ignore_index=True)

### Polynomial Regression (Degree=2)

In [ ]:
poly_reg = PolynomialFeatures(degree=2)
X_train_2d = poly_reg.fit_transform(X)
X_test_2d = poly_reg.transform(X)

lin_reg = LinearRegression()
lin_reg.fit(X_train_2d, y)
predictions = lin_reg.predict(X_test_2d)

mae, mse, rmse, r_squared = evaluation(y, predictions)
print("MAE:", mae)
print("MSE:", mse)
print("RMSE:", rmse)
print("R2 Score:", r_squared)
print("-"*30)
rmse_cross_val = rmse_cv(lin_reg)
print("RMSE Cross-Validation:", rmse_cross_val)

new_row = {"Model": "Polynomial Regression (degree=2)","MAE": mae, "MSE": mse, "RMSE": rmse, "R2 Score": r_squared, "RMSE (Cross-Validation)": rmse_cross_val}
models = models.append(new_row, ignore_index=True)

## Model Comparison

The less the Root Mean Squared Error (RMSE), The better the model is.

In [ ]:
models.sort_values(by="RMSE (Cross-Validation)")

In [ ]:
plt.figure(figsize=(12,8))
sns.barplot(x=models["Model"], y=models["R2 Score"])
plt.title("Models' Accuracy scores", size=15)
plt.xticks(rotation=30, size=12)
plt.show()